<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.access</key>
	<array/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.watchConnectivitySample</string>
	</array>

<key>com.apple.developer.sensorkit.reader.allow</key>
    <array> 
        <string>on-wrist</string>
        <string>ambient-light-sensor</string>
        <string>motion-accelerometer</string>
        <string>motion-rotation-rate</string>
        <string>visits</string>
        <string>pedometer</string>
        <string>device-usage</string>
        <string>messages-usage</string>
        <string>phone-usage</string>
        <string>keyboard-metrics</string> 
</array>
</dict>
</plist>
